In [24]:
#Broadway-Trinity-Sudan
a ={
    "name":"broadway",
    "address":"Dang"
}
b = {
    "name":"sudan",
    "school":{
        "name":"Trinity",
        "address":a
    }
}
c = (b["school"]["address"]['name'])
d = (b["school"]["name"])
e = (b["name"])
result = f"{c}-{d}-{e}"
print(result)

broadway-Trinity-sudan

In [27]:
a = {
    "city":"pokhara"
}
print(a.get("city","NA"))
print(a.get("city1","NA"))

pokhara
NA

In [34]:
a = 5
a ^= 2
print(a)

7

In [6]:
print(~10)

-11

In [3]:
a = input()
b = input()
if (a>b):
    print(f'{a} is greater than {b}')
else:
    print(f'{a} is less than {b}')
print("output the if condition")

4 is greater than 2
output the if condition

In [ ]:
if (condition):
    print("if blocks")
elif('conditions'):
    print("else if blocks")
elif("condition"):
    print("else if blocks")
else:
    print("else blocks")

In [4]:
a = input()
b = input()
if(a==b):
    print(f'{a} is equal to {b}')
elif(a>=b):
    print(f'{a} is greater than or eqaul than {b}')
else:
    print(f'{a} is not greater than {b}')

4 is not greater than 5

In [1]:
#nested if conditions
total_marks = 453
percentage = int(total_marks/8)
if(percentage>=80):
    print("Distinction")
elif(percentage>=60 and percentage<80):
    print("first division")
elif(percentage>=55 and percentage<60):
    print("second division")
else:
    print("fail")            

total_marks = 500
percentage = int(total_marks/8)
if(percentage)

second division

In [3]:
if (2==2):
    print("a")

    
else:
    print("b")
data = "a" if 2==3 else "b"
print(data)

a
b

In [4]:
a = "SuDan"
print(a*2)
print(a.lower())
print(a.title())
print(a.isalpha())
first_name = "sudan"
if first_name.isalpha():
    print("valid first name")

SuDanSuDan
sudan
Sudan
True
valid first name

In [8]:
a = (1,2,3,4,5)
print(len(a))
print(a[2])
print(a[-1])

5
3
5

In [12]:
tuple
()
a = (1,2,3,4,5)
print(type(a))
print(a.index(4))

a.pop()
b = list(a)
print(type(b))
b.pop()
print(b)
b.pop(3)
print(b)

<class 'tuple'>
3

AttributeError: 'tuple' object has no attribute 'pop'